<header>
  <div class="jumbotron">
    <div class='container row'>
      <div class='col-sm'>
        <img src='assets/img/Logo.jpg'/>
      </div>
      <div class='col-sm'>
        <h1 class="text-center">Bem-vindo ao IFSP</h1>
        <h2 class="text-center">Lista de contatos</h2>
      </div>
    </div>
  </div>
  
  <div> 
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/contatos">Contatos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#/cursos">Cursos <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input ng-model="filtro" type="search" placeholder="Digite parte do nome" class="form-control">
        </form>
      </div>
    </nav>
  </div>
</header>

<main>
  <button class="btn btn-primary mt-2" ng-click='incrementa()'>Novo</button>
<!--   <input ng-model="filtro" type="search" placeholder="Digite parte do nome"> -->
  <p>Cursos cadastrados: {{total}}</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr><th>CURSO</th><th>CORDENADOR</th><th class="text-center">Ação</th></tr>
      <tr ng-repeat="curso in cursos | filter: filtro">
        <td><a>{{curso.curso}}</a></td><td>{{curso.cordenador}}</td>
        <td class="text-center"><button class="btn btn-warning">Remover</buttom></td>
      </tr>
    </table>
  </div>
</main>


